/* .modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modalContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 340px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 12px;
  background-color: #b2dfdb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 25px; */
}

.titleCloseBtn {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* justify-content: right; */
}

.titleCloseBtn button {
  /* background-color: transparent; */
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 12px;

  font-size: 1rem;
  cursor: pointer;
  align-self: right;

  background-color: #4db6ac;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #00796b;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.cancelBtn button {
  background-color: red;
}
